*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.body{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.top-bar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 300px;
    height: 150px;
}

.social-media {
    width: 120px;
    display: flex;
    position: relative;
    left: 21%;
    padding: 20px;
    gap: 20px;
}

.social-media img {
    width: 50px;
    height: 50px;
}

.bar{
    width: 100%;
    height: 100px;
    position: sticky;
    background-color: #009424;
    padding: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.bar button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

.bar button:hover {
    background-color: #f7f7f7;
}

.mid-bar {
    width: 100%;
    background-color: #f7f7f7;
}

.mid-bar img {
    width: 100%;
}